@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IronBeard.Core.Features.Generator.ViewContext

<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>@Model.Current.Metadata["Title"] | @Model.Config.SiteTitle</title>

        @if(Model.Current.Metadata.ContainsKey("Description"))
        {
            <meta name="description" content="@Model.Current.Metadata["Description"]" />
        }
        
        <link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="/assets/site.css" />
        <link rel="stylesheet" type="text/css" href="/assets/vendor.css" />
        
    </head>
    <body>
        <header>
            <h1>
                <a href="/">WMK.IO</a>
                <small>@DateTime.Now.ToString("MMMM yyyy")</small>
            </h1>
            <nav>
                <ul>
                    <li class="red"><a href="/projects">Projects</a></li>
                    <li class="blue"><a href="/articles">Articles</a></li>
                    <li class="yellow"><a href="/notes">Notes</a></li>
                </ul>
            </nav>

        </header>
        <!-- NAV -->

        <!-- MAIN -->
        <main>
            @RenderBody()
        </main>

        <!-- FOOTER -->
        <footer>
            <ul class="contact">
                <li><a href="mailto:w@wmk.io"><img src="/assets/svg/mail.svg"/></a></li>
                <li><a href="https://twitter.com/wkallhoff"><img src="/assets/svg/twitter.svg"/></a></li>
                <li><a href="https://github.com/wkallhof/"><img src="/assets/svg/github.svg"/></a></li>
            </ul>
        </footer>

        <script src="/assets/vendor.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>