@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IronBeard.Core.Features.Generator.ViewContext

<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>@Model.Current.Metadata["Title"] | @Model.Config.SiteTitle</title>

        @if(Model.Current.Metadata.ContainsKey("Description"))
        {
            <meta name="description" content="@Model.Current.Metadata["Description"]" />
        }
        
        <link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="/assets/site.css" />
    </head>
    <body>
        <header>
            <h1>
                <a href="/">WMK.IO</a>
                <small>@DateTime.Now.ToString("MMMM yyyy")</small>
            </h1>
            <nav>
                <ul>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/notes">Notes</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </header>
        <!-- NAV -->


        <!-- MAIN -->
        <main>
            @RenderBody()
        </main>

    </body>
</html>